{% extends "base.html" %}
{% block main %}
<h1>Some information</h1>

<div class="gallery">
  <div class="gallery-item">
    <img src="..\static\assets\img\tree1.png" alt="Image 1">
    <p>Brief description of the first image goes here.</p>
  </div>

  <div class="gallery-item">
    <img src="..\static\assets\img\tree2.png" alt="Image 2">
    <p>Brief description of the second image goes here.</p>
  </div>

  <div class="gallery-item">
    <img src="..\static\assets\img\tree2.png" alt="Image 2">
    <p>Brief description of the second image goes here.</p>
  </div>

</div>


{% endblock %}